@model IEnumerable<Sort>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="container">
        <div class="row">
            <div class="col-sm"><a asp-controller="Number" asp-action="AddNumbers" class="btn btn-outline-primary">New Sort</a></div>
            <div class="col-sm"><a asp-controller="JSONHandling" asp-action="ImportJSON" class="btn btn-outline-primary">Import JSON</a></div>

            @if (Model.Count() > 0)
            {
                <div class="col-sm"><a asp-controller="JSONHandling" asp-action="ExportJSON" class="btn btn-outline-primary">Export JSON</a></div>
            }
        </div>
    </div>
</div>

@if (ViewData["Error"] != null)
{
    <div class="red">
        <p><strong>@ViewData["Error"].ToString()</strong></p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="green">
        <p><strong>@TempData["Success"].ToString()</strong></p>
    </div>
}

<h2 class="text-primary">Sorts Table</h2>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Sort ID
            </th>
            <th>
                Sort Time (ms)
            </th>
            <th>
                Sort Direction
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    <a asp-route-id=@obj.Id asp-controller="Number" asp-action="Index">@obj.Id</a>
                </td>

                <td width="30%">

                    @obj.SortTime
                </td>
                <td>
                    @if (@obj.SortDirection == 0)
                    {
                        <div>Ascending</div>
                    }
                    else
                    {
                        <div>Descending</div>

                    }
                </td>
                <td>
                    <div><a asp-route-id=@obj.Id value="Remove" asp-controller="Sorts" asp-action="RemoveSort" class="btn btn-outline-primary">Remove</a></div>
                </td>
            </tr>
        }
    </tbody>
</table>